
<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicio</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">
                        {{s}}
                    </i>
                    <i *ngSwitchDefault>
                        {{s}}
                    </i>
                </span>
            </li>
        </ul>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 ">
                    <a href="#" class="btn-card btn" (click)="ir()" *ngIf="!destino.isSelected()">Ir!</a>
                    <span class=" btn alert alert-success" *ngIf="destino.isSelected()" ngNonBindable>{{PREFERIDO}}</span>
                </div>
                <div>
                    <a href="#" (click)="voteUp"><i class="material-icons md-18">thumb-up</i></a>
                    <a href="#" (click)="voteDown"><i class="material-icons md-18">thumb-down</i></a>
                    <p>{{destino.votes}}</p>
                </div>
                <div class="col-md-6">
                    <a class="btn-card btn" [routerLink]="[ '/destino' ]">Destino</a>
                </div>
            </div>
        </div>


    </div>
</div>