<div class="container content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="[ '/home' ]">{{title}}</a>
        
        <div class=" navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ '/home' ]">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ '/destino' ]">Destino</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- <div class="nav navbar">
        <div class="container">
            <h1>Ruteo Simple</h1>
            <div class="nav  navLinks">
                <a [routerLink]="[ '/home' ]">Home</a>
                <a [routerLink]="[ '/destino' ]">Destino</a>
            </div>
        </div>
    </div> -->
    <div class="row">
            <h1>{{title}}</h1>
    </div>

    <router-outlet></router-outlet>

</div>
<hr class="nb-5">
Fecha : {{ time | async }}